<article class="card">
  <section class="card-header">
    <%= question.user.gravatar %>
    <%= question.user.name_or_email %>
  </section>
  <div class="card-body">
    <h4><%= question.title %></h4>
    <section class="card-text">
      <%= tag.time datetime: question.formatted_create_at do %>
        <small>
          <%= question.formatted_create_at %>
        </small>
      <% end %>

      <div>
        <%= render question.tags %>
      </div>

      <p class="my-2">
        <%= truncate(strip_tags(question.body), length: 150, omission: '...(continued)') %>
      </p>
    </section>

    <%= link_to "Show", question_path(question), class: 'btn btn-primary' %>
    <% if policy(question).edit? %>
      <%= link_to "Edit", edit_question_path(question), class: 'btn btn-secondary' %>
    <% end %>
    <% if policy(question).destroy? %>
      <%= link_to "Delete", question_path(question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</article>