<% provide :page_title, @question.title %>
<% currently_at "Questions" %>

<h1 class="mb-4"><%= @question.title %></h1>
<time datetime="<%= @question.formatted_create_at %>">
  <%= @question.formatted_create_at %>
</time>
<div class="lead my-3">
  <%= sanitize @question.body %>
</div>
<div class="mb-3">
  <%= @question.user.gravatar %>
  <%= @question.user.name_or_email %>
</div>

<%= render 'comments/commentable', commentable: @question, comment: @comment,
  html_id: 'questionComments' %>

<div class="border-top border-bottom py-3">
  <div class="btn-group">
    <% if policy(@question).edit? %>
      <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-secondary' %>
    <% end %>

    <% if policy(@question).destroy? %>
      <%= link_to "Delete", question_path(@question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    <% end %>
  </div>
</div>

<h3 class="text-center mb-3">Answers</h3>

<%= render 'answers/form' %>

<%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: { question: @question } %>


