<h1 class="mb-4"><%= @question.title %></h1>
<time datetime="<%= @question.formatted_create_at %>">
  <%= @question.formatted_create_at %>
</time>
<p class="lead my-3">
  <%= @question.body %>
</p>
<%= link_to "Edit", edit_question_path(@question), class: 'btn btn-secondary' %>
<%= link_to "Delete", question_path(@question), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>

<hr class="my-3">

<h3 class="text-center mb-3">Answers</h3>

<%= render 'answers/form' %>

<% if @answers.any? %>
  <% @answers.each do |answer| %>
    <article class="mb-2">
      <time datetime="<%= answer.formatted_create_at %>">
        <%= answer.formatted_create_at %>
      </time>
      <p class="mb-0">
        <%= answer.body %>
      </p>
      <%= link_to "Edit", edit_question_answer_path(@question, answer), class: 'btn btn-info btn-sm' %>
      <%= link_to "Delete answer", question_answer_path(@question, answer), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
    </article>
  <% end %>
<% end %>
