<%= tag.article class: 'mb-2 card', id: dom_id(answer) do %>
  <section class="card-header">
    <%= question.user.gravatar %>
    <%= question.user.name_or_email %>
  </section>
  <div class="card-body">
    <section class="card-text">
      <small>
        <time datetime="<%= answer.formatted_create_at %>">
          <%= answer.formatted_create_at %>
        </time>
      </small>
      <div class="mt-2 mb-3">
        <%= sanitize answer.body %>
      </div>
    </section>
    <%= link_to "Edit", edit_question_answer_path(question, answer), class: 'btn btn-info btn-sm' %>
    <%= link_to "Delete answer", question_answer_path(question, answer), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
  </div>
<% end %>

<%= render 'comments/commentable', commentable: answer, comment: @comment,
  html_id: dom_id(answer, 'comment_form') %>
